<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
  <!-- ******** TO DO ******** 
  ** 1) Make the default index page look better
  ** 2) Make a page for request generator
  **    a) Parameters for request should be configurable (something like drop down menu)
  **    b) Number of requests configurable from (1-1000) 
  
  -->
    <h1><%= title %></h1>
    <p>WELCOME to CLOUD LOAD BALANCER FOR MOBILE RESOURCE REQUESTS</p>
  </body>
</html>